@import url('https://fonts.googleapis.com/css?family=Open+Sans|Trade+Winds&display=swap');

@font-face {
    font-family: "JetBrains Mono";
    src: url('../fonts/jetbrains-mono/JetBrainsMono-Regular.ttf');
    src:  url('../fonts/jetbrains-mono/JetBrainsMono-Regular.woff') format('woff'), /* this is for backwards compatibility to IE */
     url('../fonts/jetbrains-mono/JetBrainsMono-Bold.ttf') format('truetype'),
     url('../fonts/jetbrains-mono/JetBrains-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;  /* tells browser to use these for normal text */
}

@font-face {
    font-family: "JetBrains Mono";
    src: url('../fonts/jetbrains-mono/JetBrainsMono-Bold.ttf');
    src: url('../fonts/jetbrains-mono/JetBrainsMono-Bold.ttf') format('truetype'); /* this is for backwards compatibility to IE */
    font-weight: bold;
    font-style: normal;  /* tells browser to use these for normal text */
}

@font-face {
    font-family: "JetBrains Mono";
    src: url('../fonts/jetbrains-mono/JetBrainsMono-Italic.ttf');
    src: url('../fonts/jetbrains-mono/JetBrainsMono-Italic.ttf') format('truetype'); /* this is for backwards compatibility to IE */
    font-weight: normal;
    font-style: italic;  /* tells browser to use these for normal text */
}

@font-face {
    font-family: "JetBrains Mono";
    src: url('../fonts/jetbrains-mono/JetBrainsMono-Bold-Italic.ttf');
    src: url('../fonts/jetbrains-mono/JetBrainsMono-Bold-Italic.ttf') format('truetype'); /* this is for backwards compatibility to IE */
    font-weight: bold;
    font-style: italic;  /* tells browser to use these for normal text */
}

* {  /* basic browser reset */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px
}

code {
    white-space: pre;
    font-family: 'JetBrains Mono', Consolas, monospace;
}

body {
    background-image: url( "../img/winter-landscape.jpeg" );
    background-size: cover;         /* cover the whole element. */
    background-repeat: no-repeat;   /* show one image, instead of tiling it to cover the full page area */
    background-position: center ;   /* can also be co-ordinates like: 50px 75px */
    background-attachment: fixed;   /* image does not scroll with content */
}

h1, h2, h4, h5, h6 {
    font-size: 46px;
    font-family: "Times New Roman", Georgia, serif;
    text-align: center;
    padding-top: 50px;
}

h1 {
    font-family: 'Jetbrains Mono', Consolas, monospace;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
}

h2 {
    font-family: 'Trade Winds', 'Comic Sans', cursive;
    font-size: 32px;
}

nav{
    width: auto;
    max-width: 500px;
    background-color: salmon;
    margin: 0 auto;
    position: fixed;
    top: 0px;
    right: 0;
    bottom: auto;
    left: 0;
    z-index: 1;
}

nav ul{
    text-align: center;
    padding: 0;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    text-decoration: none;  /* Disable the underline */
    display: inline-block;
    padding: 16px 32px;
}

nav ul li a:hover, nav ul li a:focus, nav ul li a:active{
    background-color: rgb(50,50,50);
    color:#fff;  /* this is actually &Hffffff. If only three characters are given, the other 3 are assumed to be the same */
}

article{
    width: auto;
    max-width: 600px;
    margin-left: auto; /* Margin left and right as auto will centre a BLOCK level element! */
    margin-right: auto;
    padding: 16px;
}

p{
    font-family: helvetica, arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: rgb(33, 33, 33); /* There are a few ways to do color... */
    background-color: #eeeeee
}

#float-practice {
    float: left;
    margin-top: 0;
    margin-right: 16px;
    margin-bottom: 16px;
    margin-left: 0
    /* margin: 0 16px 16px 0; */
}

#z-index-practice-bear {
    display: block;
    position: absolute;
    top: 300px;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 0;  /* default z-index is 0, lower is behind, higher is in front.
    However, there also appears to be a priority within any z-index based either on
    positioning type or position within html, but not clear exactly what it is */
    /* Some testing seems to show that absolute > static. Also for both absolute, first in html > later in html */
}

#z-index-practice-wolf {
    display: block;
    position: absolute;
    top: 350px;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 0;  
}

/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
  }

  .screen-reader-text:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
  }

  .hide-me{
      list-style: none;
      height: 0
  }

  .overflow-hidden{
    overflow: hidden;
    height: 35px;
  }

  .overflow-visible{
    overflow: visible;
    height: 35px;
  }
  
  .overflow-scroll{
    overflow: scroll;
    height: 75px;
  }

  #background-bullets, #image-bullets {
      list-style: none;
      margin: 16px auto;
      padding: 16px;
  }

  #background-bullets li {
      background-image: url("../img/coin.jpg");
      background-repeat: no-repeat;
      background-size: 32px;
      background-position: top left;
      padding: 8px 8px 8px 64px;
  }
  
  #image-bullets li{
      position: relative;
      padding: 8px 8px 8px 64px;
  }

  /* Only do this if the image is important to the content! */
  #image-bullets li img {
      position: absolute;   /* This is absolute with respect to its parent, because the parent has been given position: relative; */
      top: 0;
      left: 0;
      width: 32px;
      height: 32px;
  }
